Repository MozillaSecurity/bugmon-tc: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pylint, pyproject-fmt

black:
  name: black
  entry: uv run black --check --diff
  language: system

flake8:
  name: flake8
  entry: uv run flake8
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: uv run mypy src
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: uv run pylint -j 0 src
  language: system
  pass_filenames: false

pyproject-fmt:
  name: pyproject-fmt
  entry: uv run pyproject-fmt --check
  language: system

build: switch build system from poetry to uv
  .flake8
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tox.ini
  uv.lock
Due: pyproject-fmt

chore(release): 5.1.0 [skip ci]
  pyproject.toml
Due: pyproject-fmt

chore: update lock file
  uv.lock
Due: none

ci: apply pyproject-fmt
  pyproject.toml
Due: pyproject-fmt

feat: calculate deadlines based on hook trigger time
  README.md
  src/bugmon_tc/monitor/tasks.py
  tests/monitor/test_monitor.py
  tests/monitor/test_tasks.py
Due: black, flake8, mypy, pylint

feat: calculate deadline and max_run_time based on monitor's deadline
  src/bugmon_tc/monitor/tasks.py
  tests/monitor/test_monitor.py
  tests/monitor/test_tasks.py
Due: black, flake8, mypy, pylint

chore(release): 5.2.0 [skip ci]
  pyproject.toml
Due: pyproject-fmt

fix: don't attempt to report pernosco trace if bug is closed
  src/bugmon_tc/process/cli.py
  tests/process/test_process_cli.py
Due: black, flake8, mypy, pylint

chore(release): 5.2.1 [skip ci]
  pyproject.toml
Due: pyproject-fmt

fix: don't attempt to report pernosco trace if not available
  src/bugmon_tc/process/cli.py
  src/bugmon_tc/report/cli.py
  tests/process/test_process_cli.py
  tests/report/test_report_cli.py
Due: black, flake8, mypy, pylint

fix(ci): move gitlint and pre-commit to lint group to fix Windows build
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: pyproject-fmt

chore(release): 5.2.2 [skip ci]
  pyproject.toml
Due: pyproject-fmt

feat: use bugmon-pernosco-gw pool
  src/bugmon_tc/monitor/tasks.py
Due: black, flake8, mypy, pylint

Revert "feat: use bugmon-pernosco-gw pool"
  src/bugmon_tc/monitor/tasks.py
Due: black, flake8, mypy, pylint

chore: sort pyproject.toml keys
  pyproject.toml
Due: pyproject-fmt

chore(release): 5.3.0 [skip ci]
  pyproject.toml
Due: pyproject-fmt

fix: update prefpicker to 2.25.0
  uv.lock
Due: none

chore(release): 5.3.1 [skip ci]
  pyproject.toml
Due: pyproject-fmt

chore: sync lock file
  uv.lock
Due: none

fix: validate processor artifacts before applying bug updates
  src/bugmon_tc/monitor/tasks.py
  src/bugmon_tc/report/cli.py
  src/bugmon_tc/report/validation.py
  tests/monitor/test_tasks.py
  tests/report/test_report_cli.py
  tests/report/test_validation.py
  uv.lock
Due: black, flake8, mypy, pylint

chore(release): 5.3.2 [skip ci]
  pyproject.toml
Due: pyproject-fmt

fix: safely extract untrusted trace artifacts
  src/bugmon_tc/common/__init__.py
  tests/common/test_common.py
Due: black, flake8, mypy, pylint

chore(release): 5.3.3 [skip ci]
  pyproject.toml
Due: pyproject-fmt

docs: remove taskcluster status badge
  README.md
Due: none

ci: drop gitlint for gitlint-core to resolve fcntl issues
  pyproject.toml
  uv.lock
Due: pyproject-fmt

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  pyproject-fmt: any of: ^pyproject\.toml$
